$font-size-base: 14px !default;
$font-color-h1: #3e3d40;
$font-color-h2: #4b4b4d;
$font-color-h3: #505053;
$font-color-h4: #4b4b4d;
$font-color-h5: #505052;
$font-color-h6: #555557;
$color-bright: #ffffff;
$color-error: #ff0000;
$color-dark: #262626;
$placeholder: #a0a0a0;
$color-grey-transparent: rgba(102, 102, 102, 0.8);
$color-bright-transparent: rgba(255, 255, 255, 0.8);
$border-color: #dfdede;
$border-color-light: #efeeee;
$border-color-dark: #87888a;
$font-color: #444444;
$font-color-light: #656565;
$font-color-lighter: #939393;
$font-color-subtle: #555555;
$background-color-light: #dcdcdc;
$background-color-dark: #545759;
$background-color-darker: #444444;
$mega_menu_background: #e7e7e7;
$mega_menu_background_darker: #d8d8d8;
$mega_menu_background_dark: #c0beba;
$side_menu_hover: #cccccc;
$side_menu_1_background: #e7e7e7;
$side_menu_2_background: #f0f0f0;
$side_menu_3_background: #f6f6f6;
$side_menu_active_parent: #929292;
$footer_input_background: #454444;
$footer_background_top: #e7e7e7;
$footer_background_middle: #878684;
$footer_background_bottom: #51524f;
$footer_portal_background_top: #848484;
$footer_portal_background_bottom: #4f5759;
$footer_background: #5f5e5e;
$footer_input_color: #efeeee;
$footer_input_placeholder_color: #929292;
$distinction-color-lighter: #2f7542;
$distinction-color: #007e36;
$distinction-color-dark: #015c2e;
$distinction-color-darker: #003d1f;
$link-color-hover: #646567;
$black: #33312d;
$gray: #767676;
$light-gray: #efeeee;
$red: #c5463f;
$orange-dark: #c76b01;
$gold: #baa875;
$gold-dark: #a09063;
$grassgreen: #9fb944;
$grassgreen-dark: #829736;
$green: #439439;
$blue: #3f86ac;
$sel-dark-gray: #3e3d40;
$sel-dark-gray-dark: #2b2a2c;
$sel-gray: #939393;
$sel-gray-dark: #696969;
$sel-light-gray: #d8d8d8;
$sel-light-gray-dark: #b4b3b3;
$sel-red: #ff0000;
$sel-red-dark: #c50101;
$sel-distinction-color: $distinction-color-lighter;
$sel-distinction-color-dark: $distinction-color-dark;
$keyvisual-height-xl: 40em;
$keyvisual-height-lg: 32.3em;
$keyvisual-height-md: 25.5em;
$keyvisual-distance-top-xl: 34.3em;
$keyvisual-distance-top-lg: 26.6em;
$keyvisual-distance-top-md: 19.8em;
$keyvisual-small-height-xl: 26em;
$keyvisual-small-height-lg: 20.3em;
$keyvisual-small-height-md: 15.5em;
$keyvisual-small-distance-top-xl: 20.3em;
$keyvisual-small-distance-top-lg: 14.6em;
$keyvisual-small-distance-top-md: 9.8em;
$accordion-border: 0.5px solid rgba(0, 0, 0, 0.18);
$kum-green-100: rgba(0, 126, 54, 1);
$kum-green-65: rgba(0, 126, 54, 0.65);
$kum-green-35: rgba(0, 126, 54, 0.35);
$light-green-100: rgba(166, 202, 86, 1);
$light-green-65: rgba(166, 202, 86, 0.65);
$light-green-35: rgba(166, 202, 86, 0.35);
$dark-grey: rgba(157, 157, 157, 1);
$dark-grey-65: rgba(157, 157, 157, 0.65);
$dark-grey-35: rgba(157, 157, 157, 0.35);
$light-grey: rgba(208, 208, 208, 1);
$light-grey-65: rgba(208, 208, 208, 0.65);
$light-grey-35: rgba(208, 208, 208, 0.35);
$orange: #e68200;
$purple: #863776;
$orange-65: rgba(230, 130, 0, 0.65);
$purple-65: rgba(134, 55, 118, 0.65);
$yellow-65: rgba(253, 197, 0, 0.65);
$rosa-65: rgba(246, 170, 138, 0.65);
$fink-65: rgba(230, 0, 96, 0.65);
$rust-red-65: rgba(156, 16, 6, 0.65);
$lilac-65: rgba(95, 56, 142, 0.65);
$blue-light-65: rgba(41, 189, 239, 0.65);
$petrol-65: rgba(0, 113, 136, 0.65);
$olivegreen-65: rgba(92, 104, 151, 0.65);
$brown-middle-65: rgba(119, 72, 45, 0.65);
//== Secondary with 100% visibility
$yellow: rgba(253, 197, 0, 1);
$rosa: rgba(246, 170, 138, 1);
$fink: rgba(230, 0, 96, 1);
$rust-red: rgba(156, 16, 6, 1);
$lilac: rgba(95, 56, 142, 1);
$blue-light: rgba(41, 189, 239, 1);
$petrol: rgba(0, 113, 136, 1);
$olivegreen: rgba(92, 104, 151, 1);
$brown-middle: rgba(119, 72, 45, 1);
