@import "colours";

[type="checkbox"] {
  position: relative;
  top: 0px;
  z-index: 0;
  -webkit-appearance: none;
}
[type="checkbox"] + label {
  position: relative;
  display: block;
  cursor: pointer;
  font-family: sans-serif;
  line-height: 20px;
  padding-left: 50px;
  position: relative;
  margin-top: -30px;
}
[type="checkbox"] + label:before {
  width: 40px;
  height: 20px;
  border-radius: 30px;
  border: 2px solid #ddd;
  background-color: #eee;
  content: "";
  margin-right: 15px;
  transition: background-color 0.5s linear;
  z-index: 5;
  position: absolute;
  left: 0px;
}
[type="checkbox"] + label:after {
  width: 18px;
  height: 18px;
  border-radius: 20px;
  background-color: #fff;
  content: "";
  transition: margin 0.1s linear;
  box-shadow: 0px 0px 5px #aaa;
  position: absolute;
  left: 1px;
  top: 1px;
  z-index: 10;
}
[type="checkbox"]:checked + label:before {
  background-color: $kum-green-100;
}
[type="checkbox"]:checked + label:after {
  margin: 0 0 0 20px;
}
