@import "./colours.scss";

body.lmu-klinikum {
  header {
    height: 120px;
    margin-bottom: 2rem;

    nav.navbar {
      background-color: white;
      height: 80px;
    }

    img.logo {
      height: 60px;
      padding: 10px;
    }

    nav.navbar-grey {
      height: 40px;
      background-color: $mega_menu_background;
      color: $font-color;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }
  }
}
